<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vue Basics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <style>
            .red{
                border: 2px solid red;
            }
            .green {
                border: 2px solid green;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="root">
            <!-- two way data binding -->
            <h1>
                Hello {{ message }}
            </h1>
            <p v-once>{{message}}</p> <!-- displayed once and never changes after even if message changes-->
            <input v-model="message"/><br/><br/>

            <!-- some basic directives -->
            <div v-if="count === 1">im displayed when it is 1 - one</div>
            <div v-else-if="count === 2">im displayed when it is 2 - two</div>
            <div v-else>im displayed when nothing is right</div>
            <div v-show="count === 3">i will be showed when its true, otherwise hide with display none css property</div><br/><br/>
            <input v-model="email" :class="[email.length < 2 ? 'red' : 'green']"/>
            <button onclick="alert('signed up')" v-bind:disabled="email.length &lt; 2"> Submit </button> <!-- or just :disabled -->
            
            <!-- looping -->
            <ul>
                <li v-for="cat in cats">{{cat}}</li>
            </ul>
            <ol>
                <li v-for="bike in bikes">{{bike.mfg}}</li>
            </ol>

        </div>
        
        <script>
            const App = new Vue({
                el: '#root',
                data: {
                message: 'Nag! you purchased a new bike',
                count: 2,
                email: '',
                cats:['chinti', 'pinti', 'melania', 'bavu'],
                bikes:[
                    {mfg:'Honda'},
                    {mfg:'Ducati'},
                    {mfg:'Suzuki'},
                    {mfg:'Yamaha'}
                ]
                },
            })
        </script>
        
    </body>
</html>

